body {
  background-color: black;
  color: white;
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #e99089;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
  display: none;
  max-width: 300px;
  font-family: 'Courier New';
}

.alert .button {
  color: white;
  float: right;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 15px;
}

.alert .button:hover {
  color: #000;
}

#alert-message {
  display: block;
  margin-right: 30px;
}